/*

Theme Name: Avada Custom

Description: A business, portfolio and blog theme.


Author: Danish Gilani


-----------------------------------------------------------------------------*/

body {
    font-family: Arial,Helvetica,sans-serif;
}

#wrapper .header-social {
    background-color: #174458 !important;
    border: none !important;
}
p {
    font-size: 14px !important;
    color: #656565 !important;
    text-align: justify !important;
}
h1 {
color: #2cace4 !important;
    font-size: 30px !important;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif !important;
    line-height: 35px !important;
}
h2 {
       line-height: 25px !important;
    font-size: 22px !important;
    font-weight: bold !important;
    color: #636262 !important;
    font-family: Arial,Helvetica,sans-serif !important;
}
.order {
}
.order a {
	background-color: #de0000;
    color: #fff;
    padding: 10px 60px;
    font-size: 18px;
    font-weight: bold;
}
#Order h3 {
    	    margin-top: 30px !important;
    font-size: 20px !important;
    font-family: Arial,Helvetica,sans-serif !important;
    line-height: 25px !important;
    text-transform: uppercase;
    color: #e66464;
}
.heading3 {
  margin-top: 30px !important;
    font-size: 20px !important;
    font-family: Arial,Helvetica,sans-serif !important;
    line-height: 25px !important;
    text-transform: uppercase;
        color: #e66464 !important;
}
#Order .plag-yes {
   
}
#Order .plag-no {
        float: right;
    width: 43%;
    position: relative;
    top: -33px;
}
#Order .form-row {
}
.top_links {
	list-style: none;
	padding: 0px 0px;
}
.top_links li {
    padding: 0 7px;
    border-right: solid 1px #87aab9;
    color: #87aab9;
	display: inline;

}
.top_links li a {
 	color: #87aab9 !important;
}
.top_links li.last {
    border-right: 0 !important;
}
.call {
	margin-top:10px;
}
.call span {
   
    font-size: 14px !important;
    line-height: 22px ;
    text-align: right !important;
    color: #FFF !important;
}
.call strong { 
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    padding-left: 5px !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #b2d452 !important;
}
.chat {
	list-style: none;
}
.chat li {
    color: #FFF !important;
    float: right;
    font-size: 16px !important;
}
.chat li a {
    color: #FFF;
    background: none no-repeat 2px -40px;
    padding: 1px 0 1px 28px;
    background-image: url(/mhrwriter/wp-content/uploads/2018/08/all.png);
}
.chat .live, .chat .support{
  font-size: 16px !important;
}
.chat .status {
	padding: 5px 0 0 4px;
    color: #72ff00 !important;
    font-size: 10px !important;
}
#header, #side-header {
    background-color: #1a80b6 !important;
    border: none !important;
}
#nav.nav-holder .navigation > li > a {
    height: 20px !important;
    line-height: 22px !important;
    padding: 26px 17px !important;
    color: #FFF !important;
    font-size: 16px !important;
    text-transform: uppercase;
}
#nav ul li {
    padding-right: 6px !important;
} 
.order {
}
.order img {
	
}
.home_slider {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 9px 0 #666;
    padding: 0 1.172% !important;
    margin-top: -55px;
     height: 451px;
}
.home_slider  .order {
top: 43px;
    position: relative;
}
.home_slider h2 {
	font-family: sans-serif !important;
	
	color:#fff !important;
}
.home_slider h2 strong {
	font-size: 50px;
    font-family: time;
    text-shadow: 1px 1px #847777;
    display: block;
    margin-top: -16px;
}
.home_slider h2 span {
   	font-size: 30px !important;
    	color: #fff !important;
    	font-family: sans-serif !important;
   	 font-weight: 100;
    	padding-left: 80px;
}
.home_slider h3 {
	font-size: 30px !important;
    	line-height: 50px !important;
    	color: #fff !important;
	font-family: sans-serif !important;
}
.home_slider h3 strong {
	    color: #184558;
    text-shadow: 1px 1px #fff;
    font-size: 40px;
    padding-left: 80px;
    padding-bottom: 15px;
    display: block;
    margin-top: -12px;
}
.home_slider h4 {
	       font-family: sans-serif !important;
    color: #184558 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    display: block;
    margin-top: -19px;
}
.list1 {
float: left;
    color: #fff;

}
.list2 {
    float: right;
    color: #fff;
}
.slider-img2 {
    margin-top: 100px;
}
#CT ol li {
    padding: 7px 0 6px 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
}
#SN .sitebox {
    width: 100%;
    border: solid 1px #eaeaea;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 5px 0 0 #ebebeb;
    border-radius: 5px;
    background-color: #f6f6f6;
    margin-bottom: 30px;
}
#SN .sitebox .top {
    color: #FFF;
}
#SN .livechat .bottom p {
    margin: 0;
    font-size: 17px;
    line-height: 23px;
    color: #494949;
    padding: 0px 20px;
}

#SN .sitebox .top .head {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 19px 0 0 0;
    padding: 10px 0 7px 6.716%;
    font-weight: normal;
    font-size: 20px;
       border-bottom: solid 4px #207da7;
    background-color: #2cace4;
}
#SN .sitebox .top .bg {
    width: 72px;
    float: right;
    height: 80px;
    margin-top: -66px;
    background: url(/mhrwriter/wp-content/uploads/2018/08/site-nav-top-bg.png) no-repeat right top;
    position: relative;
    z-index: 1;
}
#SN .sitebox .top .bg span {
    float: right;
    margin: 16px 10px 0 0;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    text-align: center;
}
#SN .sitebox .bottom ul {
    list-style: none;
    padding: 0px 10px;
}
#SN .sitebox .bottom ul li {
    width: 100%;
    padding: 7px 0 6px 21px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url(/mhrwriter/wp-content/uploads/2018/08/all.png) no-repeat 0 -438px;
    color: #494949;
    font-size: 15px;
    line-height: 17px;
}
#SN .blogs .bottom ul li {
    padding: 7px 0 6px 15px;
    background: url(/mhrwriter/wp-content/uploads/2018/08/all.png) no-repeat 0 -489px;
    font-size: 13px;
    line-height: 15px;
}
#SN .callnow .bottom {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #e66464;
    text-align: center;
}
.mybg {
background-color: #eee;
       width: 24% !important;
}
.selector{
  
    padding:20px;
    margin:15px 0 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background-color:#78d566;
    border:solid 1px #6aba5a;
    border-radius:6px
}
.selector .table{
    width:100%;
}
.table-row{
    width:100%
}
 .table-row>div{
    box-sizing:border-box;
    -moz-box-sizing:border-box
}
 .table-row .paper_list{
    width:75%
}
 .table-row .num_of_pages{
    width:25%;
    padding-left:20px
}
 .table-row .service_list{
    width:75%
}
.table-row .currency_list{
    width:25%;
    padding-left:20px
}
.second-row{
    padding-top:20px
}
 .selector select{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:9px 10px;
    margin:0;
    border:0;
    border-radius:5px;
    font-size:16px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background:#FFF url(/mhrwriter/wp-content/uploads/2018/08/all.png) no-repeat right -1002px;
    color:#393939
}
.selector input{
    width: 100% !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    padding: 9px !important;
    margin: 0;
    border: 0 !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    font-style: italic !important;
    color: #BBB !important;
}
 .selector input.written{
    color:#393939;
    font-style:normal
}

 

.mytable thead{
    font-size: 17px;
    font-weight: bold;
    color: #FFF;
    background-color: #1a80b6;
    border-bottom: 0;
text-align: center;
}
.mytable tbody {
    border: 1px solid #f6f6f6;
}
.mytable tbody tr td {
    border: 1px solid #f6f6f6;
    text-align: center;
}
.mytable  > thead > tr > th{
    background-color: transparent;
    border-left: 0;
    border-right: solid 1px #207896;
text-align: center;
}
.mytable a {
   text-align:center;
}
.mytable a:hover {
  
    
}

#Order .loader {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #666;
    opacity: .2;
    z-index: 99;
    display: none;
    text-align: center;
}
#Order .field-label {
    width: 30% !important;
    padding: 6px 0 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: #555 !important;
float:left;
}
#Order .field-input textarea {
width: 64% !important;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: solid 1px #aaa;
    background-color: #fafafa;
    color: #004569;
    font-size: 16px;
}
#Order .field-input input[type=text], #Order .field-input select {
   width: 64% !important;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: solid 1px #aaa;
    background-color: #fafafa;
    color: #004569;
    font-size: 16px;
  
    height: 38px;
}
#Order .pm-cc-pp {
    
    font-style: italic;
}
#Order .radio {
    padding: 6px 0;
    font-size: 15px;
    font-weight: bold;
}
#Order .field-input button {
    padding: 7px 10px;
    border: 0;
    background-color: #f53737;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 1px 1px #666;
    cursor: pointer;
}

#Order .field-label span {
    color: #F00;
    float: none;
}
#Order .field-written {
    font-size: 22px  !important;
    font-weight: bold;
    color: #E66464;
    text-align: left;
}
#Order .field-written .perpage {
    margin: 5px 0 0 5px;
    font-size: 13px;
    color: #0A567D;
}
.input-checkbox {
   
}
.wpcf7 p {
    font-size: 18px !important;
    font-weight: bold !important;
    color: #555 !important;
}
.wpcf7-form .wpcf7-text {
    width: 100%;
    max-width: 310px;
    padding: 4px;
    margin: 3px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: solid 1px #aaa !important;
    background-color: #fafafa !important;
    color: #004569 !important;
    font-size: 16px !important;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
.wpcf7-form textarea {
    max-width: 500px;
    border: solid 1px #aaa !important;
    background-color: #fafafa !important;
    color: #004569 !important;
}
#CT h2 a {
    color: #176b87 !important;
}
#CT h2 {
    width: 100%;
    margin: 11px 0 7px;
    padding: 7px 15px 6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 25px;
    font-weight: normal;
    color: #176b87;
    background: url(/mhrwriter/wp-content/uploads/2018/08/h2-bg.png) repeat;
}
#CT p.blog-read-more {
    height: 56px;
    margin-bottom: 20px;
    border-bottom: dashed 1px #9d9c9c;
}
.blog-read-more a {
    width: 100px;
    float: left;
    height: 29px;
    padding-top: 7px;
    font-size: 14px;
    color: #fff;
    background: url(/mhrwriter/wp-content/uploads/2018/08/all.png) repeat-x 0 -965px;
    text-align: center;
}
.main-nav-search {
	display:none;
}
.footer-top {
	padding: 0 1.172%;
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	background-color: #e0e0e0;
}
.footer-top ul {
	list-style: none;
   	 margin-top: 28px;
   	 padding: 0px 0px;
}
.footer-top ul li a {
    line-height: 22px;
    padding: 19px 10px 19px 0;
    font-size: 18px;
    color: #6a6a6a;
    background: url(/mhrwriter/wp-content/uploads/2018/08/all.png) no-repeat 10px -550px;
}
.footer-top ul li a.livechat {
    padding-left: 63px;
}
.footer-top .live-time {

    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    color: #176b87;
}
.footer-top .toll-free {
    margin-left: 6px;
    font-size: 32px;
    line-height: 60px;
    font-weight: bold;
    font-style: italic;
    color: #E66464;
}
.footer-top  p {
        margin: 0 0 0 6px !important;
    font-size: 22px !important;
    line-height: 60px;
    font-weight: bold;
    color: #6b6a6a !important;
}
.footer-area h3 {
	margin: 0 0 10px !important;
    line-height: 24px !important;
    font-size: 18px !important;
    font-weight: normal !important;
    color: #176b87 !important;
}
.links {
    list-style: none;
}
.links li {
    line-height: 24px !important;
    font-size: 15px !important;
}
	.links li a {
		    border-bottom: none !important;
   		 padding: 2px 0px !important;
	}
.mywidth {

}
.textwidget {
    
}
.footer-area {
    padding-top: 36px !important;
    padding-bottom: 0px !important;
    height: 363px !important;
    background-color: #0c2631 !important;
border-top:none !important;
}
.footer-area ul li a {
    padding: 3px 0 !important;
    border-bottom: none !important;
}
.mylinks {
	width: 100px;
    float: left;
   
} 
.mylinks2 {
    width: 100px;
    float: right;
}
.mylinks li, .mylinks2 li {

}
.center {
    margin-top: 60px !important;
    display: block;
    text-align: center !important;
}
.color {
}
	.color a {
	    

}
#CT h3 {
    font-size: 18px !important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
  
}

@media (max-width:768px) {
#main {
    
    padding-top: 0px !important ;
}
.MyMobileMneu {
    display:block !important;
}
.MobileBG {
   height: 70px;
    background: none no-repeat #174458;
   
}
.LiveText {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-top: -12px;
    margin-bottom: -4px;
}
.ChatText {
      font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
}
.OnlineText {
       color: #72ff00;
    font-size: 10px;
    font-weight: bold;
    margin-top: -22px;
}
.BgBottom {
    background-color:#1a80b6 ;
        height: 50px;
}
.HomeIcon {
    background-color:#000;
    color:#fff;
    height: 50px;
}
.HomeIcon i {
    color: #fff;
    font-size: 35px;
    padding-top: 6px;
}
.MobileBtn {
    color: #fff;
    font-size: 20px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}



#wrapper .header-social {
    display:none !important;
}
.mobile-nav-holder .mobile-selector {
     background-color: transparent !important;
     border: none !important;
}
.mobile-nav-holder .mobile-selector .selector-down {
    
    background-color: #000 !important;
    border-left: none !important;
    height: 50px !important;
    padding-top: 9px;
    width: 55px !important;
    right: 0px !important;
    top: -6px !important;
    padding-left: 4px;
    
}
.mobile-menu-expanded {
        position: relative;
    z-index: 100;
}
.ChatBg {
        background: url(/mhrwriter/wp-content/uploads/2018/08/all.png) no-repeat #237c99 right -79px;
    padding: 10px 0 0 7px;
}
#header, #side-header {
    background-color: transparent !important;
    border: none !important;
height: 0px;
}

#wrapper #header .logo {
   	 position: relative;
       top: -61px;
} 
.MobileLogo {
    position: relative;
    top: 15px;
}
.call {
 text-align: center;

}
.call span {
    font-size: 16px !important;
    line-height: 26px;
    
    color: #000 !important;
}
#header, #side-header {
padding: 0px 0px !important;
}
#wrapper .header-social {
    height: 80px;
}

	.footer-area {
		height: 510px !important;
	}
	.footer-area ul li a, .footer-area h3 {
		text-align: center;
	}
.textwidget {
    display: block;
    margin: 0 auto;
    text-align: center;
}
	#text-4 {
		display:none;
	}
	.mybg {
       		background-color: unset;
   		 width: 100% !important;
    		padding: 5px 5px;
   		 text-align: center;
	}
	.footer-top .live-time {
		text-align: center ;
	}
	.footer-top p {
		font-size: 18px !important;
    		text-align: center !important;
	}
	.footer-top .toll-free {
		font-size: 18px;
	}
	.order {
    		display: block;
    		margin: 0px auto !important;
    		text-align: center !important;
	}
	#CT ol {
	    padding: 0px 10px;
	}
	#CT ol li {
		 font-size: 16px;
    		line-height: 30px;
	word-break: break-all;
	}
	.last {
		display:none;
	}
 	.my-img img {
		max-width: 165%;
    		position: relative;
    		left: -30px;
	
	}
	h1, #CT h2 {
		font-size: 24px !important;
		text-align: center;
    		line-height: 30px !important;
    		margin: 20px 0px !important;
		background: none;
	}
	p {
	font-size: 16px !important;
   
    line-height: 30px;
word-break: break-all;
	}

	.chat {
		padding:0px;
    		float: right;
	}
	.chat li {
	    float: unset;
	}
	.slider-img2 {
    		display: none !important;
	}
	.home_slider {
		height: 600px;
		display: none; 
	}
	
	.home_slider h2, .home_slider h3, .home_slider h3 strong, .home_slider h2 strong, .home_slider h2 span  {
		  text-align: center;
		padding-left: 0px;
	}
	.home_slider h4 {
		text-align: center;
	margin-top: 0px;
	}
	.list1, .list2 {
	    float: unset;
	}
	.top_links {
		display: none;
	}
	#main {
		padding-top: 0px;
	}

}